* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

header {
  background-color: #fd2d01;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
header .link,
header .link:visited {
  text-decoration: none;
  color: white;
}
header .link:hover {
  text-decoration: underline;
}
header section {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
button,
input {
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
}
.header--logo--image {
  height: 150px;
}
.signUp--container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.signIn--logo {
  flex: 1 1 50%;
}
.signIn--logo img {
  width: 100%;
}
.signIn--form {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffd7d7;
  border-radius: 20px;
  padding: 30px;
}
.signIn--form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signIn--form form input,
.signIn--form button {
  margin-top: 10px;
  outline: none;
  border: none;
}
.signIn--form button {
  width: fit-content;
  background-color: #4e5166;
  color: white;
  margin-top: 35px;
}
.signIn--form p {
  margin-top: 50px;
}

.signIn--link:visited {
  text-decoration: none;
  color: black;
}
.feed {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 800px;
  margin: 150px auto;
}
.post {
  display: flex;
  flex-direction: column;

  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px #e6e7e9;
  padding: 10px;
  margin-top: 20px;
}
.post--profile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 7px;
}
.post--profile--container {
  display: flex;
  flex-direction: column;
}
.post--profile--details {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.post--profile--name {
  font-weight: bold;
}

.post--collapsibleMenu {
  text-align: right;
}
.post--collapsibleMenu button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50px;
}
.post--collapsibleMenu button:hover {
  background-color: #ffd7d7;
  color: black;
}

.post--collapsibleMenu--option {
  box-shadow: 0px 0px 4px 1px #e6e7e9;
  border-radius: 5px;
  padding: 2px;
  position: absolute;

  background-color: white;
}
.post--collapsibleMenu--option button {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
}

.post--title {
  margin-top: 10px;
  padding: 7px;
}
.post--image--container {
  width: 100%;
  height: 400px;

  margin-top: 10px;
  text-align: center;
}
.post--image--container img {
  height: 100%;
}
.post--text {
  width: 100%;
  height: fit-content;
  margin-top: 10px;
  padding: 7px;

  background-color: white;
}

.post--interaction {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.post--interaction--icon {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  border-top: 1px solid #ffd7d7;
  border-bottom: 1px solid #ffd7d7;
  margin-top: 10px;
}
.post--showComments,
.post--like {
  margin-top: 7px;
  margin-bottom: 7px;
  width: 100%;
  text-align: center;
}
.empty-thumb,
.full-thumb {
  position: absolute;
}
.empty-thumb,
.full-thumb,
.comment-icon {
  margin-left: 4px;
}
.comment--container {
  margin-top: 15px;
  border-radius: 35px;
  background-color: #f2f2f2;
  padding: 8px 12px 8px 12px;
}
.comment--user--name {
  font-weight: bold;
}
.comment--options button {
  background-color: transparent;
  border: none;
  margin-left: 20px;
  padding: 0px;
  font-weight: bold;
}
.newComment {
  display: flex;
  flex-direction: row;
  column-gap: 7px;
  margin-top: 10px;
}
.post--newComments {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 50px;
  border: none;
  padding-left: 10px;
}
.newComment--button--icon {
  margin-top: 3px;
  margin-right: 2px;
}
.modal--background {
  background-color: rgb(240, 242, 245, 0.8);
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal--container {
  background-color: white;
  box-shadow: 0px 5px 10px 5px #c7c7c7;
  height: 200px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.modal--modify--container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 5px #c7c7c7;
  padding: 15px;
  width: 500px;
}
.modal--button {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin-top: 20px;
}
.modal--button button {
  border: none;
}
.createPost {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.createPost--container {
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px #e6e7e9;
  width: 500px;
  padding: 15px;
  margin: auto;
  margin-top: 50px;
}
/* .createPost--header,
.modal--container--modify--header,
.modal--header {
  text-align: center;
  border-bottom: 1px solid #ffd7d7;
  margin-top: 0;
} */
.uploaded-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
textarea {
  margin-top: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 5px;
  font-family: "lato";
  resize: none;
  height: 100px;
  width: 100%;
}
.input--image {
  display: none;
}
.upload--image {
  margin-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.icon-upload-image {
  margin-left: 10px;
  font-size: 25px;
}
.createPost--title,
.createPost--content,
.createPost--image,
.createPost--button {
  margin-top: 10px;
}
.button--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 50px;
}

.button--container button {
  margin-top: 30px;
  outline: none;
  border: none;
  background-color: #4e5166;
  color: white;
}
button:disabled {
  background-color: #e6e7e9;
  color: #4e5166;
}
