* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

header {
  background-color: #4e5166;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
}
header .link,
header .link:visited {
  text-decoration: none;
  color: white;
}
header .link:hover {
  text-decoration: underline;
}
header section {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
button,
input {
  cursor: pointer;
  border-radius: 5px;
}
.header--logo--image {
  height: 150px;
}
.signIn {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  height: 400px;
  width: 400px;
  border: 1px solid #4e5166;
  border-radius: 5px;
}
.signIn__form {
  display: flex;
  flex-direction: column;
}
.feed {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 800px;
  margin: 150px auto;
}
.post {
  display: flex;
  flex-direction: column;

  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px #e6e7e9;
  padding: 10px;
  margin-top: 20px;
}
.post--profile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 7px;
}
.post--profile--container {
  display: flex;
  flex-direction: column;
}
.post--profile--details {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.post--profile--name {
  font-weight: bold;
}
/* .post--profile--picture {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  border: 2px solid #4e5166;
} */
.post--collapsibleMenu {
  text-align: right;
}
.post--collapsibleMenu button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50px;
}
.post--collapsibleMenu button:hover {
  background-color: #ffd7d7;
  color: black;
}

.post--collapsibleMenu--option {
  box-shadow: 0px 0px 4px 1px #e6e7e9;
  border-radius: 5px;
  padding: 2px;
  position: absolute;

  background-color: white;
}
.post--collapsibleMenu--option button {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
}

.post--title {
  margin-top: 10px;
  padding: 7px;
}
.post--image--container {
  width: 100%;
  height: 400px;

  margin-top: 10px;
  text-align: center;
}
.post--image--container img {
  height: 100%;
}
.post--text {
  width: 100%;
  height: fit-content;
  margin-top: 10px;
  padding: 7px;

  background-color: white;
}

.post--interaction {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.post--interaction--icon {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  border-top: 1px solid #ffd7d7;
  border-bottom: 1px solid #ffd7d7;
  margin-top: 10px;
}
.post--showComments,
.post--like {
  margin-top: 7px;
  margin-bottom: 7px;
  width: 100%;
  text-align: center;
}
.empty-thumb,
.full-thumb {
  position: absolute;
}
.empty-thumb,
.full-thumb,
.comment-icon {
  margin-left: 4px;
}
.post--comment {
  margin-top: 15px;
  border-radius: 35px;
  background-color: #ffd7d7;
  padding: 8px 12px 8px 12px;
}
.comment--user--name {
  font-weight: bold;
}

.newComment {
  display: flex;
  flex-direction: row;
  column-gap: 7px;
  margin-top: 10px;
}
.post--newComments {
  width: 100%;
  background-color: #f0f2f5;
  border-radius: 50px;
  border: none;
  padding-left: 10px;
}
.newComment--button--icon {
  margin-top: 3px;
  margin-right: 2px;
}
.modal--background {
  background-color: rgb(240, 242, 245, 0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal--container {
  background-color: #ffd7d7;
  box-shadow: 0px 5px 10px 5px #e6e7e9;
  height: 200px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.modal--container--modify {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 5px #e6e7e9;
  padding: 5px;
}
.modal--button {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin-top: 20px;
}
.modal--button button {
  border: none;
}
.createPost--container {
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px #e6e7e9;
  width: 800px;
  padding: 5px;
  margin: auto;
  margin-top: 50px;
}
.createPost--header {
  text-align: center;
  border-bottom: 1px solid #ffd7d7;
  margin-top: 0;
}
.createPost {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.createPost input {
  border: none;
  outline: none;
}

.createPost--image {
  margin-top: 40px;
}
.createPost--title,
.createPost--content,
.createPost--image,
.createPost--button {
  margin-top: 10px;
}
